body{
    display: flex;
    flex-direction: column;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    padding-bottom: 15px;
}

ul {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 950px;
    padding-bottom: 15px;
    border: black;
    list-style:none;
}
ul li {
    float:left;
}
input{
    padding: 17px;
    border: solid 1px black;
    padding-inline-end: 300px;
}
ul a {
    border: solid black 1px;
    display:block;
    text-align:center;
    width:150px; /* fixed width */
    text-decoration:none;
    margin-bottom: 10px;
}
h1{
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    padding-bottom: 15px;
}
table{
    border-collapse: collapse;
}
table, th, td {
    padding: 30px;
    border: 1px solid black;
}

table{
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    padding-bottom: 15px;
}

.form{
    display:inline-flex;
    justify-content: center;
}
